<nav class="navbar navbar-light bgcolor-staff" style="height: 100px;">
    <div class="logo-mini float-left" style="height: 100%;"><a class="navbar-brand" href="/staff"><img src="/img/logo.png" alt="logo-eight"></a></div>
    <div class="float-right">
        <a href="/staff/logout">
            <button class="btn btn-danger border-radius">Đăng xuất <i class="fas fa-sign-in-alt"></i></button>
        </a>
    </div>
</nav>