<section class="sidebar">
    <a class="menu-function-admin" href="/staff">
    <div class="row"><hr></div>
        <div class="row">
            <div class="col-2 icon-menufunction"><img src="/img/logo.png" alt="logo-eight"></div>
            <div class="col-10 list-menufunction"><center>Phạm Đại Minh Quân</center></div>
        </div>
    </a>
    <hr>
    <ul class="sidebar-menu">
        <li>
            <a class="menu-function-admin" href="/staff">
                <div class="row">
                    <div class="col-2 icon-menufunction fas fa-hourglass-start"></div>
                    <div class="col-10 list-menufunction">Đơn hàng mới</div>
                </div>
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/staff">
                <div class="row">
                    <div class="col-2 icon-menufunction fas fa-hourglass-half"></div>
                    <div class="col-10 list-menufunction">Đang thực hiện</div>
                </div>
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/staff">
                <div class="row">
                    <div class="col-2 icon-menufunction fas fa-hourglass-end"></div>
                    <div class="col-10 list-menufunction">Đã hoàn thành</div>
                </div>
            </a>
        </li>
        <hr>
        <li>
            <a class="menu-function-admin" href="/staff">
                <div class="row">
                    <div class="col-2 icon-menufunction fas fa-user-tie"></div>
                    <div class="col-10 list-menufunction">Thông tin cá nhân</div>
                </div>
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/staff">
                <div class="row">
                    <div class="col-2 icon-menufunction far fa-calendar-alt"></div>
                    <div class="col-10 list-menufunction">Ngày 20/10/2004</div>
                </div>
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/staff">
                <div class="row">
                    <div class="col-2 icon-menufunction fas fa-user-clock"></div>
                    <div class="col-10 list-menufunction">Giờ vào ca: 10:09</div>
                </div>
            </a>
        </li>
    </ul>
</section>