<div class="mt-4 container">
    <div class="row sticky-top">
        thanh nav bar
    </div>
    <!--Advertisement-->
    <div class="row">
        quảng cáo
    </div>
    <!--Main-->
    <div class="row mt-3">
        <div class="col-left col-lg-9">
            <div class="row">
               nội dung chính
            </div>
        </div>
        <div class="col-right col-lg-3">
            <div class="row">
                danh sách món ăn
            </div>
        </div>
    </div>
</div>