<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a class="menu-function-admin" href="/admin/foodtypelist">
                <div class="row">
                    <div class="col-10">Loại sản phẩm</div>
                </div>
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/foodlist">
                <div class="row">
                    <div class="col-10">Sản phẩm</div>
                </div>
            </a>
        </li>
    </ul>
</section>